.SignupParent{
  height: 66vh;
  background-color:#f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

 .Signupcontainer{
  /*  width: 25rem;
    height: 25rem;*/
    /* border: 2px solid aliceblue; */
    /* background-color: white; */
    background-color: #468B97;

    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
} 

.SignupForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    background-color: #9b0fa8;
    width: 25%;
    min-width: 21rem;
    /* height: 50%; */
    height:345px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
  }

  .lockImg {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    /* padding-top: 15px; */
    margin-bottom: -10px;
  }

  .sInp {
    width: 80%;
      height: 1.7rem;
      border-radius: 7px;
      text-align: center;
  }

  .Sbutn {
    padding: 5px 35px;
    border-radius: 10px;
    /* border: 2px solid lawngreen; */
  }

  .SigninLogo{
  background-color:#f5f5f5;
  /* background-color: #e3e7ea; */
    z-index: 2;
    position: relative;
  }

  .signupText{
    font-size: 22px;
    font-family: system-ui;
   
  }

  .signupErrText{
    position: absolute;
    bottom: 6rem;
    color: red;
  }

  .signupEmailErr {
    position: absolute;
    bottom: 9.3rem;
    color: red;
}